{% extends "base.twig" %}

{% block content %}

<style>
    #other_list > div > div {
        padding: 1rem;
    }
    #total_results > div > div {
        padding: 1rem;
    }
</style>

<div class="w-full edge-others-bg">
    <div class="left-offset diag bg-white w-7/12 py-20 flex justify-end">
        <div class="flex flex-col justify-end pr-16">
            <div class="flex gap-6 edge-max-w-500">
                <div class="edge-bg-red diag px-6"></div>
                <div class="search-header bebas mt-8">SEARCH THE PROJECT DATABASE</div>
            </div>
            <div class="flex gap-6 mt-4 justify-end">
				<div class="">
					<input type="text" placeholder="Enter search terms here" class="edge-bg-lite text-sm p-2 diag">
				</div>
				<div>
					<button class="text-sm text-white edge-btn-red py-2 px-12 diag">SEARCH</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="edge-bg-lite py-8">
    <div class="edge-wrapper">
        <h1 class="flex gap-6 flex items-center sm-hdr">
            <div class="px-2 py-8 edge-bg-red diag"></div>
            <div>Other Data</div>
        <h1>
    </div>
</div>

<div id="edge_others" class="">
    Loading...
</div>

<div class="edge-wrapper mt-24">
    <h1 class="my-8 flex gap-6 flex items-center sm-hdr">
        <div class="px-2 py-8 edge-bg-red diag"></div>
        <div>Other Program<br>Impact</div>
    <h1>
</div>

<div id="total_results" class="edge-wrapper flex flex-col mb-24">
    Loading...
</div>

<script>
    const URL = SITE_URL + '/others/other/';

    const total_jobs = others.map(function (o) {
        return parseInt(o.ProjectedTotalJobs);
    });

    const total_capital_investment = others.map(function (o) {
        return parseInt(o.TotalInvestment);
    });

    const total_number_of_others = others.length;

    const total_amount_of_others = others.map(function (o) {
        return parseInt(o.FinancingAmount);
    });

    html = `
        <div class="grid grid-cols-12 bebas">
            <div class="col-span-2">Total Jobs</div>
            <div class="col-span-4">Total Capital Investment</div>
            <div class="col-span-3">Total Number of Others</div>
            <div class="col-span-3">Total Amount of Others</div>
        </div>
        <div class="grid grid-cols-12">
            <div class="col-span-2">
                ${total_jobs.reduce((a, b) => a + b)}
            </div>
            <div class="col-span-4">
                ${formatter.format(total_capital_investment.reduce((a, b) => a + b))}
            </div>
            <div class="col-span-3">
                ${total_number_of_others}
            </div>
            <div class="col-span-3">
                ${formatter.format(total_amount_of_others.reduce((a, b) => a + b))}
            </div>
        </div>`;

    document.getElementById('total_results').innerHTML = html;

    $(document).ready(function() {
        $('#menu-6').css('color', '#BF021C');
    });

</script>

{% include 'other-filter.twig' %}

{% endblock %}